body{
  font-style: oblique;
}
.top {
  display: flex;
  justify-content:space-between;
  
  
}

 .ul {
  display: flex;
  column-gap: 30px;
  height: fit-content;
  
  
}
.over:hover{
    color: blue;
    text-decoration: underline;
    
}
.point:hover{

    color: blue;
    text-decoration: underline;
  

}
.click:hover{

    color: blue;
    text-decoration: underline;
  

}
.js {
  font-size: 40px;
  color: blue;

}
span {
  color: blue;
}

.intro {
  font-size: 60px;
  text-align: center;
  color: black;
  margin-top: 60px;
}
.frontEnd {
  font-size: 30px;
  text-align: center;
  margin-top: 30px;
}
.content {
    font-size: 20px;
    width: 50%;
  text-align: center;
  margin-top: 30px;
  margin-left: 300px;
  
}
button {
    padding: 15px;
  margin-left: 47%;
  color: blue;
  border-color: blue;
  margin-top: 20px;
}
button:hover{
    background-color: blue;
    color:white;
}
.project {
  display: flex;
  width: 90%;
  height: 200px;
  justify-content: space-around;
  margin-left: 45px;
}
h1 {
  text-align: center;
}
.project1 {
  text-align: center;
  background-color:whitesmoke;
  width: 30%;
  
}
.project2 {
  text-align: center;
  background-color:whitesmoke;
  width: 30%;
}
.project3 {
  text-align: center;
  background-color:whitesmoke;
  width: 30%;
}
.skill {
   margin-top: 50px; 
  text-align: center;
}
ul {
  display: flex;
   height: 300px;
   width: 300px;
  flex-wrap: wrap;
margin-left: 38%;
  font-size:23.2px;
  list-style-type:none;
  
}
.contact {
    font-size: 28px;
  text-align: center;
  margin-bottom: 30px;
}
.maker {
  text-align: center;
  color: blue;
  margin-top: 30px;
}
.languages{
    width:50%;
}
.skills li{
        display: flex;
        justify-content: space-between;
      height: 40px;
   column-gap: 10px;
    margin-top: 20px;
    padding-top: 14px;
    margin-left: 20px;
     background-color:whitesmoke
}
a{
    font-size: 25px;
    margin-left: 15px;
    margin-top: 10px;
    color: black;
}